doctype html
//if IE 9
  html.lt-ie10(lang='en')  
html.no-js(lang='en', data-useragent='Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title D. Devisscher | Musician
    meta(name='description', content='D. Devisscher musician. Upcoming shows, and more.')
    meta(name='copyright', content='D. Devisscher. Copyright (c) 2015')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    script.
      moment().format('MMMM Do YYYY, h:mm:ss a');
    script.
      var music = document.getElementById('music'); // id for audio element
      var duration; // Duration of audio clip
      var pButton = document.getElementById('pButton'); // play button
      
      var playhead = document.getElementById('playhead'); // playhead
      
      var timeline = document.getElementById('timeline'); // timeline
      // timeline width adjusted for playhead
      var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
      
      // timeupdate event listener
      music.addEventListener("timeupdate", timeUpdate, false);
      
      //Makes timeline clickable
      timeline.addEventListener("click", function (event) {
      	moveplayhead(event);
      	music.currentTime = duration * clickPercent(event);
      }, false);
      
      // returns click as decimal (.77) of the total timelineWidth
      function clickPercent(e) {
      	return (e.pageX - timeline.offsetLeft) / timelineWidth;
      }
      
      // Makes playhead draggable 
      playhead.addEventListener('mousedown', mouseDown, false);
      window.addEventListener('mouseup', mouseUp, false);
      
      // Boolean value so that mouse is moved on mouseUp only when the playhead is released 
      var onplayhead = false;
      // mouseDown EventListener
      function mouseDown() {
      	onplayhead = true;
      	window.addEventListener('mousemove', moveplayhead, true);
      	music.removeEventListener('timeupdate', timeUpdate, false);
      }
      // mouseUp EventListener
      // getting input from all mouse clicks
      function mouseUp(e) {
      	if (onplayhead == true) {
      		moveplayhead(e);
      		window.removeEventListener('mousemove', moveplayhead, true);
      		// change current time
      		music.currentTime = duration * clickPercent(e);
      		music.addEventListener('timeupdate', timeUpdate, false);
      	}
      	onplayhead = false;
      }
      // mousemove EventListener
      // Moves playhead as user drags
      function moveplayhead(e) {
      	var newMargLeft = e.pageX - timeline.offsetLeft;
      	if (newMargLeft >= 0 && newMargLeft <= timelineWidth) {
      		playhead.style.marginLeft = newMargLeft + "px";
      	}
      	if (newMargLeft < 0) {
      		playhead.style.marginLeft = "0px";
      	}
      	if (newMargLeft > timelineWidth) {
      		playhead.style.marginLeft = timelineWidth + "px";
      	}
      }
      
      // timeUpdate 
      // Synchronizes playhead position with current point in audio 
      function timeUpdate() {
      	var playPercent = timelineWidth * (music.currentTime / duration);
      	playhead.style.marginLeft = playPercent + "px";
      	if (music.currentTime == duration) {
      		pButton.className = "";
      		pButton.className = "play";
      	}
      }
      
      //Play and Pause
      function play() {
      	// start music
      	if (music.paused) {
      		music.play();
      		// remove play, add pause
      		pButton.className = "";
      		pButton.className = "pause";
      	} else { // pause music
      		music.pause();
      		// remove pause, add play
      		pButton.className = "";
      		pButton.className = "play";
      	}
      }
      
      // Gets audio file duration
      music.addEventListener("canplaythrough", function () {
      	duration = music.duration;  
      }, false);
      



    style.
      #audioplayer{
      	width: 480px;
      	height: 60px;
      	margin: 50px auto auto auto;
        border: solid;
      }
      #pButton {
          height:60px; 
          width: 60px;
          border: none;
          background-size: 50% 50%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          float:left;
          outline:none;
      }
      
      .play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
      .pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}
      
      #timeline{
      	width: 400px;
      	height: 20px;
      	margin-top: 20px;
      	float: left;
      	border-radius: 15px;
      	background: rgba(0,0,0,.3);
        
      }
      #playhead{
      	width: 18px;
      	height: 18px;
      	border-radius: 50%;
      	margin-top: 1px;
      	background: rgba(0, 0, 0,1);
      
      }

  body
    .row
      .large-3.columns
        h1 Devisscher.ca
      .large-9.columns
        ul.button-group.right
          li
            a.button(href='#', data-reveal-id='myModal') Contact
            
     #myModal.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
      h2#modalTitle Contact David Devisscher
      p.lead About shows, music and more.
      form(class='form-group', method='post', enctype='application/json')
        input(type='text' placeholder='Name' name='name' id='name' required) 
        input(type='email' placeholder='Email' name='email' id='email' required)
        textarea(type='text' placeholder='Message' name='message' id='message' rows='5' required)
        input.button(type='submit')
      a.close-reveal-modal(aria-label='Close') ×
    .row
      .large-12.columns
        if alertmessage
          div.alert-box.success.radius(data-alert='')
            | #{alertmessage}
            a.close(href='#') ×
        img(src='/images/sax.png', width='100%')
        hr
    .row
      .large-6.columns
        figure
          img(src='/images/lifejazz.jpg', alt="Life is a lot like Jazz, it's better when you improvize")
          //figcaption Photo Credits: Costas Theoharis
      .large-6.columns
         h1 Upcoming Shows
          if posts
            if  (posts.length)
              for post in posts
                h3 #{post.title}
                |!{post.summary} 
                a(href='#{post.location}' target='_blank')
                  p Location: !{post.entry} 
                
                p 
                | #{post.dateCreated1} 
                br 
                | #{post.dateCreated} - #{post.datePosted}
                hr
       .large-12.columns
       

    .row
      .large-8.columns
        h4 Welcome to D. Devisscher's website.
        p
          | D. Devisscher has played music all over the world during official ceremonies and events. Now that he's retired, he enjoys playing music with friends and family at local pubs. Catch one of his concerts to feel the passion that fuels his love for music. 
        //p
        //  | D. Devisscher has played music all over the world during official ceremonies and events. Now that he's retired, he enjoys playing music with friends and family at local pubs. Catch one of his concerts to feel the passion that fuels his love for music. 
        div.panel
          p.text-center David and friends playing at Cafe Nostalgica in Ottawa, ON.
          audio#music(preload='true')
            source(src='http://www.alexkatz.me/codepen/music/interlude.mp3')
            source(src='http://www.alexkatz.me/codepen/music/interlude.ogg')
          #audioplayer
            button#pButton.play(onclick='play()')
            #timeline
              #playhead

      .large-4.columns
        img(src='/images/davidandbeer.jpg')
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright David Devisscher.
          .large-6.columns
            ul.inline-list.right
              li
                if req && req.sess.userName
                  li
                      a(href="cms/users/logout") Hi #{req.sess.userName}, click here to logout.
                  li    
                      a(href="/cms") Dashboard
                else
                  li
                    a(href="cms/users/login") Login
          .large-12.columns
            p#credits.text-center.small This website was built with <3 by 
              a(href="http://tdevisscher.ca") &nbsp;Thomas Devisscher 
              | using Node.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
    script.
      $(document).foundation();
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
    script.
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);