doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title D. Devisscher | Musician
    meta(name='description', content='Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more.')
    meta(name='author', content='ZURB, inc. ZURB network also includes zurb.com')
    meta(name='copyright', content='ZURB, inc. Copyright (c) 2015')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    script.
      moment().format('MMMM Do YYYY, h:mm:ss a');
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
