extends layout
block head
block content
   .container
            .forms
                form(class='', method='post', enctype='application/json')
                    .row.large-4.large-8
                        h1 Login
                        input(type='text', name='userName', class='form-control', id='username',placeholder='Username')
                        br
                        input(type='password', name='password', class='form-control', id='password', placeholder='Password')
                        br
                        button(type='submit', class='btn btn-primary') Login
                        a(href='/cms/users/signup')
                            button(type='button', class='btn') Sign Up
                #error #{error}
            
            