extends layout
block head
script(type='email').
    validator.isEmail('foo@bar.com'); //=> true
block content
  .container
        .forms
            form(class='form-group', method='post', enctype='application/json')
                if errors
                    each error in errors
                        #error #{error}
                .row.large-4.large-8
                    h1 Signup
                    input(type='text', name='userName', class='form-control',  placeholder='Username')
                    br
                    input(type='password', name='password', class='form-control', id='password', placeholder='Password', value='')
                    br
                    input(type='text', name='email', class='form-control', id='email', placeholder='Email Address', value='')
                    br
                    input(type='text', name='userRole', Value='0', hidden style='display: none;')
                    button(type='submit', class='btn btn-primary XPButton') Sign Up
                    a(href='cms/users/login')
                        button(type='button', class='btn XPButton') Back
        