extends ../layout
block head
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='/moment/min/moment.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type='text/javascript', src='/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
block content
 #page-wrapper
    .container-fluid
        .forms
            form(class='form-group', method='post', enctype='application/json')
                if errors
                    each error in errors
                        #error #{error}
                h1 New Concert
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Enter Details
                  .panel-body
                    input(type='text', name='title', class='form-control',  placeholder='Title')
                    br
                    input(type='text', name='summary', class='form-control',  placeholder='Brief description of the event')
                    //br
                    //textarea(type='text', name='entry', class='form-control ckeditor', id='entry', placeholder='Post', value='' rows='20')
                    br
                    input(type='text', name='entry',  id='entry' class='form-control',  placeholder='Where')
                    br
                    input(type='text', name='location',  id='location' class='form-control' value="https://www.google.ca/maps/place/Café+Nostalgica/@45.4240167,-75.6861823,17z/data=!3m1!4b1!4m2!3m1!1s0x4cce05064677c85f:0x4e562941be8e6756")
                .panel.panel-default
                  .panel-heading
                    h3.panel-title When is the concert?
                  .panel-body
                    p Choose the date and time at which the concert starts and ends with the datepicker.
                    .col-sm-6
                        .form-group
                        #datetimepicker1.input-group.date
                            input.form-control(type='text' name='dateCreated' id='dateCreated' placeholder='Start Time')
                            span.input-group-addon
                              span.glyphicon.glyphicon-calendar
                    .col-sm-6
                        .form-group
                        #datetimepicker2.input-group.date
                            input.form-control(type='text' name='datePosted' id='datePosted' placeholder='End Time')
                            span.input-group-addon
                              span.glyphicon.glyphicon-calendar
                script.
                  $(function () {
                  $('#datetimepicker1').datetimepicker();
                  });
                script.
                  $(function () {
                  $('#datetimepicker2').datetimepicker();
                  });
                  
                div.pull-right
                    button(type='submit', class='btn btn-success') Post
                    a(type='button' href='/', class='btn btn-danger') Cancel
                    
                    
                        