extends layout
block head
block content
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header
                    | Dashboard 
                    small For David's Website!
        .row
        h2 Upcoming Concerts
        .table-responsive
            table.table.table-bordered.table-hover.table-striped
                thead
                tr
                    th ID                                                 
                    th Title                                            
                    th Date
                    th Edit 
                tbody
                    if posts
                        if posts.length
                            each post in posts
                                tr
                                    td #{post.post_id}
                                    td #{post.title}
                                    td #{post.dateCreated} - #{post.datePosted}
                                    td 
                                        a(href='cms/posts/update/#{post.post_id}')
                                            span(class='glyphicon glyphicon-edit text-success')
        .row
            .col-lg-6
                h2 Messages
                .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                        thead
                            tr
                                th Name                                            
                                th Email                                             
                                th Message                                               
                                th Date
                            tbody
                                if messages
                                    if messages.length
                                        each message in messages
                                            tr
                                                td #{message.Name}
                                                td #{message.Email}
                                                td #{message.Message}
                                                td #{message.Date}
            .col-lg-6
                h2 History of actions on the website
                .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                        thead
                            tr
                                th Username                                            
                                th Action                                             
                                th Details                                               
                                th Date
                            tbody
                                if histories
                                    if histories.length
                                        each history in histories
                                            tr
                                                td #{history.username}
                                                td #{history.action}
                                                td #{history.details}
                                                td #{history.date}
            
            
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
        // Morris Charts JavaScript
        script(src='js/plugins/morris/raphael.min.js')
        |     
        script(src='js/plugins/morris/morris.min.js')
        |     
        script(src='js/plugins/morris/morris-data.js')
