doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='/moment/min/moment.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type='text/javascript', src='/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin2.css')
    script(type='text/javascript', src='/javascripts/sb-admin.js')
    link(rel='stylesheet', href='/stylesheets/metismenu.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/moment.min.js')
    script(src='//cdn.ckeditor.com/4.5.3/standard/ckeditor.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Devisscher.ca
        ul.nav.navbar-top-links.navbar-right
          li
            a(href='/')
              i.fa.fa-home
              | &nbsp;Home
          li
            a(href='/cms/users/logout')
              i.fa.fa-sign-out.fa-fw
              |  Logout
            // /.dropdown-user
          // /.dropdown
        // /.navbar-top-links
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='/cms')
                  i.fa.fa-dashboard.fa-fw
                  |  Dashboard
              li
                a(href='/cms/posts/create')
                  i.fa.fa-plus.fa-fw
                  |  New Concert
               li
                a(href='/cms/posts')
                  i.fa.fa-plus.fa-fw
                  |  List of Concerts
              li
                a(href='/cms/users')
                  i.fa.fa-users.fa-fw
                  |  Users
      block content
          script(src='https://code.jquery.com/jquery-2.1.4.js')
          script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.js')
          script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
